<template name="ftCollectionsIndex">
{{#Surface conSurface1 }} 
  {{# Layout template="ftMediumContentOffset" }}
    {{# Layout template="ftTitle" }}
      {{ collection.title }}
      {{# if collection.canShowCreate }}
        <a href="{{ collection.createPath }}" class="btn btn-default btn-xs"><i class="fa fa-plus"></i></a>
      {{/ if }}
    {{/ Layout }}
    {{# Layout template="ftContentContainer" }}
      {{# if collection.canIndex }}
        {{# if showTable }}
          {{> tabular table=collection.tabularTable class="table index-table" }}
        {{/ if }}
      {{/ if }}
    {{/ Layout }}
  {{/ Layout }}
{{/ Surface }}
</template>
